* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #272c3f;
}

form.submitted input.ng-invalid,
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 1px solid red;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 20px 0 5px;
  color: rgba(0, 0, 0, 0.9);
}

input {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  outline: none;
  background: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.7) 50%)
      no-repeat calc(100% - 20px) calc(1em + 4px),
    linear-gradient(135deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%) no-repeat
      calc(100% - 15px) calc(1em + 4px);
  background-size: 5px 5px, 5px 5px;
}

select:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

button {
  letter-spacing: -0.5px;
  cursor: pointer;
  background-color: #41b67f;
  outline: 0;
  line-height: 1;
  text-align: center;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 2px;
  display: inline-block;
  border: none;
  color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #41cf8d;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
  box-shadow: none;
}
